<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h1>Rentify</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/products">General</a>
        <% categories.forEach(function(category){%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/products" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= category.category %> 
            </a>
            <ul class="dropdown-menu">
              <% category.sub_categories.forEach(function(sub_category){%>
              <li><a class="dropdown-item" href="/products/category/<%= sub_category %>"><%= sub_category %> </a></li>
              <% }) %> 
            </ul>
          </li>  
        <% })%> 
        <a class="nav-link" href="/products/new">Upload Product</a>
      </div>
    </div>
    <div class="navbar-nav ml-auto">
      <%if(!currentUser){%> 
      <a href="/login" class="nav-link">Login</a>
      <a href="/register" class="nav-link">Register</a>
      <%}else{%> 
      <a href="/logout" class="nav-link">Logout</a>
      <%}%> 
   </div>
  </div>
</nav>