<%layout('layouts/boilerplate',{categories})%> 
<div class="card-body">
    <h1 class="card-title mb-3">Forgot Password</h1>
    <form action="/forgot-password" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success btn-block">Submit</button>
    </form>
</div>