<%layout('layouts/boilerplate',{categories})%> 
<div class="card-body">
    <h1 class="card-title mb-3">Login</h1>
    <form action="/login" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" autofocus required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <div class="input-group">
                <input class="form-control" type="password" id="password" name="password" required>
                <button type="button" class="btn btn-outline-secondary" id="showPasswordBtn">
                    <i class="bi bi-eye"></i>
                </button>
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success btn-block">Login</button>
        <br>
        <br>
        <a href="/forgot-password">Forgot password ?</a>
    </form>
</div>