<%layout('layouts/boilerplate',{categories})%> 
<div class="card-body">
    <h1 class="card-title mb-3">Reset Password</h1>
    <form action="/reset-password/<%=token%>" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="password">New Password</label>
            <div class="input-group">
                <input class="form-control" type="password" id="password" name="password" required>
                <button type="button" class="btn btn-outline-secondary" id="showPasswordBtn">
                    <i class="bi bi-eye"></i>
                </button>
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success btn-block">Reset</button>
    </form>
</div>